/* Background and container styling */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  position: relative;
  background-image: url("../../assets/images/background3.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Transparent blue overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(168, 168, 253, 0.5); /* Blue overlay with 50% opacity */
  z-index: 1;
}

/* Form styling */
.login-form {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  width: 100%;
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Error message styling */
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.login-btn {
  width: 95%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}
